@font-face {
    font-family: 'Luminari';
    font-style: normal;
    font-weight: normal;
    src: local('Luminari'), url('../css/Luminari-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Cardo';
    font-style: normal;
    font-weight: normal;
    src: local('Cardo'), url('../css/Cardo-Regular.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Cardo', Helvetica, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: whitesmoke;
}

:root { 
    --background: rgb(49, 31, 37);
    --formbanner: #4e323b;
    --button: #b54f33;
}

body {
    background-color: var(--background);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
}

.left {
    background-image: url(../img/background.gif);
    min-height: 100vh;
    min-width: 40vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner {
    height: auto;
    width: 100%;
    background-color: rgba(18, 18, 19, 0.7);
    margin-bottom: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5%;
    overflow: hidden;
}

#img-credit {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    color: whitesmoke;
    font-size: small;
}

.logo-txt {
    color: whitesmoke;
    order: 1;
    font-size: 4vw;
    font-family: 'Luminari', Helvetica, sans-serif;
}

.logo {
    width: 8vw;
    height: auto;
    order: 0;
    margin-right: 10px;
}

.right {
    min-height: 100vh;
    min-width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.form-banner {
    background-color: var(--formbanner);
    width: 100%;
    height: auto;
    padding: 3%;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.2);
    border-top: solid whitesmoke 1px;
    border-bottom: solid whitesmoke 1px;
}

.form-banner > h2 {
    margin: 0px 0px 5% 0px;
}

h2 {
    font-size: calc(2px + 1.5vw);
    font-weight:600;
}

.description {
    margin: 0px 40px 0px 2.2%;
    text-shadow: black 1px 1px 1px;
}

#call-to-action {
    margin-bottom: 3rem;
}

#first-name, #email, #password, #last-name, #phone-number, #confirm-password {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 4px;
    padding: 4px;
}

#Sign-up {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10%;
}

#Sign-up > .left-form > input, #Sign-up > .right-form > input {
    border: solid grey 1px;
    margin-bottom: 20px;
    width: 15vw;
    background-color: antiquewhite;
    color: black;
}

#Sign-up > .left-form > input:focus, #Sign-up > .right-form > input:focus {
    border: solid var(--button) 2px !important;
    box-shadow: black 1px 1px 5px;
    outline: none;
}

#Sign-up > .left-form > input:valid, #Sign-up > .right-form > input:valid {
    border-color: green;
}

#Sign-up > .left-form > input:invalid, #Sign-up > .right-form > input:invalid {
    border-color: grey;
}

.buttons {
    margin: 30px 0px 0px 3%;
    font-size: calc(5px + 1vw);
}

#create-account-btn {
    padding: 8%;
    width: 90%;
    height: auto;
    margin-bottom: 20px;
    background-color: var(--button);
    color: whitesmoke;
    border-radius: 7px;
    border: none;
    font-size: calc(1rem + 0.1vw);
}

#create-account-btn:hover {
    transform: scale(1.02);
    background-color: #96412a;
}

.log-in {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

a {
    color: var(--button);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    transform: scale(1.05);
}

@media only screen and (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
    }

    .left {
        min-height: 50vw;
        min-width: 30vw;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .form-banner > input {
        width: 100px;
        justify-content: center;
        align-items: center;
        padding: 4%;
        overflow: hidden;
        box-shadow: black 1px 1px 10px;
    }

    .banner {
        height: auto;
        width: 100%;
        background:none;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4%;
        overflow: hidden;
        box-shadow: black 1px 1px 10px;
    }

    #img-credit {
        visibility: hidden;
    }

    .logo-txt {
        font-size: 7vw;
    }
    
    .logo {
        width: 10vw;
        height: auto;
        order: 0;
        margin-right: 10px;
    }

    .description {
        margin: 0px 15px 0px 15px;
        text-shadow: black 1px 1px 1px;
        font-size: calc(15px + 1.5vw);
        font-weight:600;
        text-align: center;
    }

    .form-banner > h2 {
        font-size: calc(15px + 1.5vw);
        text-align: center;
    }

    .right {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: auto;
        margin-top: 4vw;
        min-height: auto;
    }

    .form-banner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #Sign-up {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10%;
    }
    
    #Sign-up > .left-form > input, #Sign-up > .right-form > input {
        border: solid grey 1px;
        margin-bottom: 20px;
        width: 35vw;
        background-color: antiquewhite;
        color: black;
    }
    
    .buttons {
        margin: 30px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #create-account-btn {
        width: 120%;
    }
    
    .log-in {
        display: flex;
        flex-direction: row;
        gap: 5px;
        font-size: 3vw;
    }
    
    a {
        color: var(--button);
        text-decoration: none;
        font-weight: bold;
        margin-bottom: 30px;
    }
}